<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head th:insert="elements/fragments :: head"> </head>
		
<body class="bg-secondary">
	
	<!--HEADER WITH NAVBAR -->
	<header th:replace="elements/navbar :: header('tickets')"></header>
	
	<!--START OF THE MAIN SECTION -->
	<main>
		
		<!--Container of the main section -->
		<div class="container-lg  bg-light rounded  ">
			<div class="row justify-content-center ">
				
			<!--Main title of the page -->
		    <div class="col-12 text-start py-3 mb-2 ">
		      <h1>Edit the ticket: <span class="fst-italic fw-light fs-2">[[${ticket.ticketHeader}]]</span></h1>
		    </div>
			
			
			<!--Section with form -->

				<div class="row col-10" >
					
					<form
						id="form-ticket"
						th:object="${ticket}"
						th:action="@{/tickets/edit/{id}( id = ${ticket.id})}"
						method="POST"
					>
					
						<!--Form section for ticket head-->
						<div class="mb-4">
						  <label for="ticketHeader" class="form-label">Ticket header</label>
						  <input type="text" class="form-control" id="ticketHeader" 
						  placeholder="Insert the title of the ticket" th:field="*{ticketHeader}">
						  
							 <div th:if="${#fields.hasErrors('ticketHeader')}" class="invalid-feedback d-block">
								<ul>
									<li class="alert alert-danger" th:each="err : ${#fields.errors('ticketHeader')}" th:text="${err}"></li>
								</ul>
							</div>
						</div>
						<!--Form section for ticket body -->
						<div class="mb-4">
						  <label for="ticketBody" class="form-label">Insert here your request</label>
						  <textarea class="form-control" id="ticketBody" rows="3" th:field="*{ticketBody}"></textarea>
						  
						 	 <div th:if="${#fields.hasErrors('ticketBody')}" class="invalid-feedback d-block">
		  						<ul>
		  							<li class="alert alert-danger" th:each="err : ${#fields.errors('ticketBody')}" th:text="${err}"></li>
		  						</ul>
		  					</div>
						</div>
						
						<!--Form section for ticket status -->
						<div class="mb-4">
							<p>Ticket status:</p>
							<small class="mb-3 px-2 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2 d-inline-block">Rember to update the status with caution</small>
							
							<div class="mb-3">
								<input type="radio" class="btn-check" name="options-outlined" id="success-outlined" th:field="*{ticketStatus}" value="OPEN" autocomplete="off">
								<label class="btn btn-outline-info" for="success-outlined">OPEN</label>
	
								<input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" th:field="*{ticketStatus}" value="ASSIGNED" autocomplete="off">
								<label class="btn btn-outline-warning" for="danger-outlined">ASSIGNED</label>
								
								<input type="radio" class="btn-check" name="options-outlined" id="closed-outlined" th:field="*{ticketStatus}" value="CLOSED" autocomplete="off">
								<label class="btn btn-outline-success" for="closed-outlined">CLOSED</label>
							</div>
							
						</div>
						
						<!--Hidden fields-->
						<div class="visually-hidden">
							<input type="datetime" class="form-control" id="createdAt" th:field="*{createdAt}">
							<input  class="form-control" id="statusCategories" th:field="*{categories}"  readonly>
							
						</div>
						
						<!--Submit, Reset and Back buttons -->
						
						<div class="d-flex mb-5">
							<button type="submit" class="btn btn-primary p-2 mx-1">Submit</button>
							<button type="reset" class="btn btn-danger p-2 mx-1">Reset</button>
							<a class="btn btn-primary p-2 ms-auto mx-1" th:href="@{/tickets}">Back</a>
						</div>
						
					</form>
				  
				</div>

			</div>
			
			
		
		   
		  </div>
		

	</main>
	<!--END OF THE MAIN SECTION -->
	
	<!--FOOTER -->
<!--	<footer th:replace="elements/fragments :: footer" ></footer>-->

	<!--Scripts links -->
	<div th:insert="elements/fragments :: scripts">
	</div>
		
</body>
</html>
