<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head th:insert="elements/fragments :: head"> </head>
		
<body>
	
	<!--HEADER WITH NAVBAR -->
	<header th:replace="elements/navbar :: header('tickets')"></header>
	
	<!--START OF THE MAIN SECTION -->
	<main>
		
		<!--Container of the main section -->
		<div class="container-lg border  ">
			<div class="row ">
				
				<!--Main title of the page -->
			    <div class="col-12 text-center py-3 ">
			      <h1>Ticket list</h1>
			    </div>
				
				<!--Table with Offerta objects list -->
				<!--The table is showed only if there is at least one element to show -->
				<div class="d-flex justify-content-center" th:if="${ticketList.size > 0}" >
					<table class="table w-75 table-striped ">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Header</th>
					      <th scope="col">Status</th>
					      <th scope="col">Creation date</th>
						  <th scope="col">Update Date</th>
						  <th class="button-headers"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="ticket: ${ticketList}" th:object="${ticket}">
					      <td>[[*{id}]]</td>
					      <td>[[*{ticketHeader}]]</td>
						  <td>[[*{ticketStatus}]]</td>
					      <td>[[*{createdAt}]]</td>
					      <td>[[*{updatedAt}]]</td>
						  <td class>
							
							<a class="btn btn-sm btn-primary">
								Show
							</a>
						
							<a class="btn btn-sm btn-success">
								Edit
							</a>
						  </td>
					    </tr>
					  </tbody>
					</table>
				</div>
				
				
				<!--SHOWED ONLY IF THERE ARE NO TICKET OBJECTS TO SHOW -->
				<div th:unless="${ticketList.size > 0}">
					<h2 class="text-danger text-center">Non ci sono ticket da mostrare</h2>
				</div>
			   
			  </div>
		</div>

	</main>
	<!--END OF THE MAIN SECTION -->
	
	<!--FOOTER -->
<!--	<footer th:replace="elements/fragments :: footer" ></footer>-->
		
</body>
</html>
