
<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head th:insert="elements/fragments :: head"> </head>
		
<body class="bg-secondary">
	
	<!--HEADER WITH NAVBAR -->
	<header th:replace="elements/navbar :: header('tickets')"></header>
	
	<!--START OF THE MAIN SECTION -->
	<main>
		
		<!--Container of the main section -->
		<div class="container-lg bg-light rounded ">
			<div class="row justify-content-center ">
				
			<!--Main title of the page -->
		    <div class="col-12 text-center py-3 ">
		      <h1>Ticket detail</h1>
		    </div>
			
			
			<!--Section with object details -->
				<div class="row col-10 border-bottom border-2 mb-2  pt-2 rounded"  th:object="${ticket}" >
				  <div class="d-flex ">
						<div class="col-7">
							<h5 class=" mb-2">[[*{ticketHeader}]]</h5>
					    	<h6 class=" mb-3 text-body-secondary">Opened by username</h6>
						</div>
						
						<!-- Section for display and update the ticket status -->
						<div th:class="'d-flex flex-column  flex-fill rounded border ' + ${bgColor} + ' ' + ${borderColor}">
							<h5 class="py-2 align-self-center">Status: <span th:class="'badge ms-3 ' + ${badgeColor}">[[*{ticketStatus}]]</span></h5>
							
							<!-- Button that appear only iif the ticket status is not closed -->
							<div th:unless="${ticket.ticketStatus.toString() == 'CLOSED'}" class="align-self-center" >
								<button type="button" class="btn btn-link " data-bs-toggle="modal" data-bs-target="#statusModal">Update ticket status</button>
							
							<!-- Modal -->
							<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h1 class="modal-title fs-5" id="exampleModalLabel">Update ticket status</h1>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <p>The current status of the ticket is <strong>[[*{ticketStatus}]]</strong></p>
									<p>Do you want to update it?</p>
							      </div>
							      <div class="modal-footer">
									<!-- This form contains all the ticket fields passed to the controller to change the status and save it again -->
									<form
										id="form-ticket"
										th:object="${ticket}"
										th:action="@{/tickets/updateStatus/{id}( id = ${ticket.id})}"
										method="POST"
									
									>
										<div class="visually-hidden">
											<input type="text" value="prova status" class="form-control" id="statusHeader" th:field="*{ticketHeader}"  readonly>
											<input class="form-control" id="statusBody" th:field="*{ticketBody}"  readonly>
											<input type="datetime" class="form-control" id="statusCreatedAt" th:field="*{createdAt}"  readonly>
											<input  class="form-control" id="statusCategories" th:field="*{categories}"  readonly>
											<input  id="statusOperator" th:field="*{operator.id}"  readonly>
											<input id="statusStatus" th:field="*{ticketStatus}"  readonly >
										</div>
										
								        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								        <button type="submit" class="btn btn-primary">Update status</button>
									</form>
							      </div>
							    </div>
							  </div>
							</div>
							</div>
							
						</div>
					</div>
					
					<!-- Section for display the ticket categories -->
					<div class="mb-3">
						<span class="fw-4">Categories: </span> 
						<span class="badge text-bg-warning mx-1 " th:each="category : *{categories}">[[${category.name}]]</span>
					</div>
					
					<!-- Section for display and update the ticket fields -->
					<!-- Ticket body -->
					<div class="border bg-white rounded p-1 mb-3 ">
				    	<p class="p-1">[[*{ticketBody}]]</p>
					</div>
					
					<!-- Ticket creation and update dates-->
					<p class="p-1 text-secondary">Creted at: [[*{createdAt}]]</p>
					<p class="p-1 text-secondary">Updated at: [[*{createdAt}]] </p>

					<!-- Link to the edit page -->
					<div class=" mb-3">
						<a class="btn btn-primary " th:href="@{/tickets/edit/{id}(id=${ticket.id})}">Edit</a>
					</div>
				  
				</div>
				
				<!--Section with ticket notes -->
				<div class="row col-10" th:object="${ticket}">
					
					<!--Title of the notes section -->
				    <div class="col-12 text-start py-3 ">
				      <h3>Ticket notes</h3>
				    </div>
					
					<!--List of notes -->
					
					<th:block th:each="note : ${ticket.notes}" th:object="${note}">
						
						<div class="card mb-3">
						  <div class="card-header">
						    <p class="fw-4"> Note #[[*{id}]] - Created by <span class="fst-italic">[[*{author}]]</span> at <span class="fst-italic">[[*{createdAt}]] </span></p>
						  </div>
						  <div class="card-body">
						    <p class="card-text">[[*{noteText}]]</p>
						  </div>
						</div>
						
					</th:block>
					
					<!-- This button trigger a collapse section contained in the note creation form -->
					<p class="mt-1">
						<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#createNoteCollapse" aria-expanded="false" aria-controls="createNoteCollapse">
					    Create a new note
						</button>
				 	</p>

					<!-- Note creation form -->
					<form
						id="form-note"
						th:object="${note}"
						th:action="@{/notes/create}"
						method="POST"
					>
				
					<!--Errors list  -->
					<div th:if="${#fields.hasErrors()}">
							<ul>
							<li
							th:each="err : ${#fields.allErrors()}"
							th:text="${err}"
							class="alert alert-danger">
							
							</li>
						</ul>
																
					</div>
					
					<!--Form fields contained in a collapse element-->
					  <div class="collapse mb-3" id="createNoteCollapse">
					    <div class="card card-body">
														
							<div class="mb-4">
							  <label for="noteText" class="form-label">Insert here the note text</label>
							  <textarea class="form-control" id="noteText" rows="3" th:field="*{noteText}"></textarea>
							</div>
							<!--Hidden field containing the ticket object related to the note -->
							<input type="hidden" th:field="*{ticket}" id="ticket">
							
							<!--Submit and reset buttons -->
							<div class="d-flex">
								<button type="submit" class="btn btn-primary p-2 mx-1">Submit</button>
								<button type="reset" class="btn btn-danger p-2 mx-1">Reset</button>
							</div>
					
					    </div>
					  </div>
					  
					  </form>
					  
					 <!--Scripts links -->
					<div class="d-flex justify-content-end mb-5">
						<a class="btn btn-primary " th:href="@{/tickets}">Back</a>
					</div>
				  
				</div>
			</div>
		  </div>
		

	</main>
	<!--END OF THE MAIN SECTION -->
	
	<!--FOOTER -->
<!--	<footer th:replace="elements/fragments :: footer" ></footer>-->

	

	<!--Scripts links -->
	<div th:insert="elements/fragments :: scripts">
	</div>
	
	
		
</body>
</html>
