<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head th:insert="elements/fragments :: head(title = 'Operator')"> </head>
		
<body class="bg-secondary">
	
	<!--HEADER WITH NAVBAR -->
	<header th:replace="elements/navbar :: header('home')"></header>
	
	<!--START OF THE MAIN SECTION -->
	<main >

		<!--Container of the main section -->
		<div class="container-lg  bg-light rounded   ">
			<div class="row border-bottom mb-3 ">
				
				<!--Main title of the page -->
			    <div class="col-12 text-center py-3 mb-3 ">
			      <h1>Welcome [[${operator.user.name}]]</h1>
			    </div>
				<div  class=" mb-3 d-flex col-9 m-auto justify-content-between">
					<h4>Status: 
						<span class=" badge text-bg-success " th:unless="${operator.inactive}">Available</span>
						<span class=" badge text-bg-danger " th:if="${operator.inactive}">Not Available</span>
					</h4>
					
				
					
					<form th:action="@{/operators/updatestatus/{id}( id = ${operator.user.id})}"
					 method="GET"
					 id="opStatusForm"
					 >
					 <div th:unless="${operator.inactive}">
						<input	class="visually-hidden" type="text" value="setInactive" name="setStatus">
						<button class="btn btn-warning " 
						 th:classappend="${ operator.ticketsToClose == 0 ? 'active' : 'disabled'}"
						 type="submit">
	 						Set status not available
						</button>
					 </div>
					 
					 <div th:if="${operator.inactive}">
	 				 	<input	class="visually-hidden" type="text" name="setStatus">
	 					 <button class="btn btn-warning " type="submit">Set status Available </button>
	 				</div>	
					 	
					</form>
					
				</div> 
				<div  class=" text-center mb-3">
					<h4>List of the assigned tickets:</h4>
				</div>
					
				
				<!--Table with ticket objects list -->
				<!--The table is showed only if there is at least one element to show -->
				<div class="d-flex justify-content-center mb-5" th:if="${operator.tickets.size > 0}">
					
					<table class="table w-75 table-striped table-hover ">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Header</th>
					      <th scope="col">Status</th>
					      <th scope="col">Creation date</th>
						  <th scope="col">Update Date</th>
						 
						  <th class="button-headers"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="ticket: ${operator.tickets}" th:object="${ticket}">
					      <td>[[*{id}]]</td>
					      <td>[[*{ticketHeader}]]</td>
						  <td><span class="badge text-bg-info">[[*{ticketStatus}]]</span></td>
					      <td>[[*{createdAt}]]</td>
					      <td>[[*{updatedAt}]]</td>
				
						  <td class>
							<!-- Button linked to show page -->
							<a class="btn btn-sm btn-primary" th:href="@{/tickets/{id}(id=${ticket.id})}">
								Show
							</a>
						
						  </td>
					    </tr>
					  </tbody>
					</table>
					
				</div>
				
				
				<!--SHOWED ONLY IF THERE ARE NO TICKET OBJECTS TO SHOW -->
				<div th:unless="${operator.tickets.size > 0}">
					<h2 class="text-danger text-center">There are no tickets to be shown</h2>
				</div>
			   
			</div>
			  
			<div class="row d-flex justify-content-center">
				
  				<h4 class="text-center mb-3 ">Operator details:</h4>
				
				<div th:object="${operator}" class="col-6  mb-3">
					<ul class="list-group list-group-flush">
					  <li class="list-group-item d-flex justify-content-between"><strong>Username:</strong><span>[[*{user.username}]]</span></li>
					  <li class="list-group-item d-flex justify-content-between"><strong>Email:</strong><span>[[*{user.email}]]</span></li>
					  <li class="list-group-item d-flex justify-content-between"><strong>Name:</strong><span>[[*{user.name}]]</span></li>
					  <li class="list-group-item d-flex justify-content-between"><strong>Surname:</strong><span>[[*{user.surname}]]</span></li>
					</ul>
				</div>	
				
				<div class="col-8 mb-3">
					<a class="btn btn-primary" th:href="@{/users/edit/{id}( id = ${operator.user.id})}">Update user info</a>
				</div>
				
					
	  				
					
	  			
	  		</div>  
		</div>
				
	</main>
	<!--END OF THE MAIN SECTION -->
	


	<!--Scripts links -->
	<div th:insert="elements/fragments :: scripts">
	</div>
		
</body>
</html>
